nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
}
nav ul {
	display: flex;
	list-style: none;
	align-items: center;
	line-height: 0;
	gap: 20px;
}
nav ul li:last-child img {
	width: 40px;
}